@model WebApplication4.Models.employee
@{
    ViewBag.Title = "Edit";
}
<style>
  .removeSpace {
    white-space:  pre-line;
}
</style>
<h2>Edit</h2>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="form-group">
        <label>Name</label>
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label>Gender</label>
        <label> @Html.RadioButtonFor(model => model.Gender, "Male") Male</label>
        <label> @Html.RadioButtonFor(model => model.Gender, "Female") Female</label><br />
        @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label>Email</label>
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label>Age</label>
        @Html.TextBoxFor(model => model.Age, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
    </div>
        <input type="submit" value="Submit" class="btn btn-block btn-primary" />
        }




