@{
    ViewBag.Title = "Index";
}
<h2>Index</h2> 
<a href="@Url.Action("NewEmployee")" class="btn btn-primary">New Data</a> 
<br /><br />
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>GENDER</th>
            <th>EMAIL</th>
            <th>AGE</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in ViewBag.ListEmployee)
            {
            <tr>
                <td>@employee.id</td>
                <td>@employee.Name</td>
                <td>@employee.Gender</td>
                <td>@employee.Email</td>
                <td>@employee.Age</td>
                <td>
                    <a href="@Url.Action("Edit", new { id = @employee.id })"><i class="glyphicon glyphicon-edit">Edit</i></a>
                    <a href="@Url.Action("Delete", new { id = @employee.id })"><i class="glyphicon glyphicon-trash">Delete</i></a>
                </td>
            </tr>
        }
    </tbody>
</table>



